#Sub11,#Sub12,#Sub13{
    color: white;

}




#b1{
    float: right ;
    width: 10%;
    border-radius: 12px;
    font-style:initial;
    font-weight: bold;
    background-color: black;
    color: white;
    clear: left;
    margin-top: 1%;
    font-size: large;
    
}

a{
    text-decoration: none;
    color: black;
}
.all{
    overflow: scroll;
    height: 10px;
}
header{
    height: 80px;
    width: 100%;
    background-color: rgba(245, 222, 179, 0.66);
    display: flex;
    background-image: url(images.png);
    border-radius: 10px;
}
header div{
    font-size: larger;
    padding-top: 25px;
    margin-left: 15%;
    font-weight: bolder;
}
header div:hover a{
    font-size: 25px;
    color: whitesmoke;
}
.Container{
    
    border-radius: 5px;
    display: flex;
    height: 400px;
    margin-top: 10px;
}
.Sub1{
    border-radius: 5px;
    width: 50%;
    margin-top: 80px;
}
.Sub1 h3{
    margin-left: 30px;
    font-size: 150%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.Sub1 h1{
    margin-left: 30px;
    font-size: 200%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Sub1 h2    {
    margin-left: 30px;
    font-size: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.TWO{
    display: flex;
}
#b2{
    height: 60px;
    width: 300px;
    background-color: #25D366;
    border-radius: 30px;
    font-size: large;
    font-weight: bolder;
    color: white;
    margin-left: 30px;
}
#TWO2{
    margin-left: 15px;
    font-size: larger;
    font-weight: bolder;
    color: white;
    
}
#C11{
    color: white;
}
#TWO2:hover{
    color: grey;

}
#THREE{
    background-color: white;
    margin-top: 30px;
    height: 330px;
}

#T1{
    padding-top: 10PX;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
#T3{
    display: flex;
    padding-left: 10%;
}
#T31{
    height: 220px;
    width: 25%;
    border-radius: 0px;
    margin-left: 30px;
    border-color: white;
}
#T32{
    height: 220px;
    width: 25%;    
    margin-left: 30px;
}
#T33{
    height: 220px;
    width: 25%;
    margin-left: 30px;
}
#T311,#T312,#T313{
    font-weight: bold;
    font-size: larger;
}
#L1,#L2,#L3{
        list-style: none;
        margin-top: 10px;
}
#L1 li,#L2 li,#L3 li{
    font-size: medium;
    margin-top: 5%;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 1%;
    
}


/* Contact Page*/
#C1{
    margin-top: 80px        ;
    margin-left: 15%;
    margin-right: 15%;
    height: 90%;
    width: 70%;
    clear: right;
    background-color: pink;
    border-radius: 10px;
}
#C11{
    color: whitesmoke;
    padding: 10px;
}
form{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px ;
    margin-left: 10%;
    height: 400px;
}
.form h3{
    color: #00233c;
    font-weight: 800;
    margin-bottom: 20px;
}
form input,textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #ADD8E6;
    font-size: 16px;


}
#message{
    height: 1200px;
}
form button{
    padding: 15px;
    background: cornflowerblue;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    
}

/*Experience Page*/
#im1{
    clear: both;
    margin-top: 3%;
    padding-left: 15%;
}
#h21{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    margin-left: 2%;
    font-weight: bolder;    
}
#h31{
    margin-left: 2%;
    font-size: medium;
    margin-top: 0   ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}
#l11 li{
    color: black;
    margin-bottom: 3%;
    font-variant:initial;
    font-size: large;
    font-weight:500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#bb1{
    clear: both;
}

/* Brief Page*/
#brief1{
    background-color: whitesmoke   ;
    clear: both;
    margin-top: 4%;
    height: 20%;
    width: 80%;
    margin: auto;
    border-radius: 10px;

}
#brief2{
    background-color: whitesmoke   ;
    clear: both;
    margin-top: 4%;
    height: 110%;
    width: 80%;
    margin: auto;
    border-radius: 10px;

}
#bb1{
    margin-top: 5%;
    margin: 0%;
    margin-bottom: 1%;
    padding: 15px;
    padding-bottom: 0%;
}
#bb1+div{
    margin-top: 0px;
    padding: 15px;
    padding-top: 0%;
}

#brief2{
    padding-left: 15px;
    
}
 strong em{
    font-weight: 500;
 }
 h4+h5{
    margin: 0px;
    color:red;
    margin-top: 0%;
}  
h4{
    margin-bottom: 0%;

}
.l232 li{
    margin-bottom: 2%;
    
}
#r1{
    margin-top: 2%;
    margin-bottom: 5%;
    border-radius: 15px;
    height: 6%;
    width: 30%;
    font-weight: bolder;
    font-size: larger   ;
    color: white;
    background-color: rgba(255, 255, 0, 0.656);
}
